*{
    background-color: black;
    color: white;
}
input,button{
    background-color: white;
    color: black;
    cursor: pointer;
}
input,button{
    border:none;
    outline: none;
    border-radius: 2px;
}